:root {
  --primary-font: "Roboto Condensed", sans-serif;
  --secondary-font: "Playfair display, serif";
  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  --opacity: 90%;
}

body {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
}

nav {
  border: 3px solid black;
  border-radius: 4px;
  width: 120%;
  text-align: center;
  padding: 10px;
}

nav li {
  display: inline;
  list-style: none;
  font-size: 24px;
  line-height: 40px;
  margin-left: 20px;
  padding: 30px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  opacity: var(var(--opacity));
}

nav a:hover {
  opacity: 70%;
  transition: all 100ms ease-in-out;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li.active a {
  font-weight: 700;
}

.navbar {
  margin: 30px;
}

.introduction-container h1 {
  font-family: var(--secondary-font);
  font-size: 88px;
  font-weight: 700;
}

.introduction-container h2,
h3 {
  font-family: var(--primary-font);
  font-size: 36px;
  opacity: var(--opacity);
}

.introduction-container h4 {
  font-family: var(--secondary-font);
  font-size: 30px;
  font-weight: 700;
}

.introduction-container {
  text-align: center;
  padding: 160px 0;
  border: 5px solid black;
  border-radius: 4px;
  margin: 30px;
}

.header-container {
  padding: 160px 30px;
  border: 5px solid black;
  border-radius: 4px;
  margin: 30px;
  font-size: 30px;
}

.header-container h1 {
  font-size: 40px;
  font-family: var(--secondary-font);
  font-weight: 600;
}

.header-container h2 {
  font-size: 25px;
}

.work-header {
  padding: 160px 0;
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 50px;
}

.btn {
  padding: 15px;
  color: black;
  font-size: 20px;
  font-family: var(--primary-font);
  font-weight: 600;
  background: none;
  box-shadow: var(--box-shadow);
  border: 2px solid;
}

.homepage-title {
  text-align: center;
  font-size: 30px;
  margin: 60px;
}

img {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.work-contact {
  margin: 50px;
  text-align: center;
}

.work-contact h4 {
  font-size: 38px;
  font-family: var(--secondary-font);
  font-weight: 600;
}

.work-contact p {
  font-size: 20px;
  margin: 0;
}
footer {
  text-align: center;
  font-size: 24px;
}

footer .email-link {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

footer .social-media-links {
  padding: 10px;
  margin-bottom: 30px;
}

i {
  padding: 10px;
  color: black;
  border: 2px solid black;
  border-radius: 30px;
}

footer a:hover {
  opacity: 70%;
  transition: all 100ms ease-in-out;
}

footer i:hover {
  background-color: black;
  color: white;
}

.coded-by-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

@media (max-width: 576px) {
  h1 {
    font-size: 38px;
  }
  h2,
  h3 {
    font-size: 25px;
  }
  .homepage-title {
    font-size: 25px;
  }
  .introduction-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-me-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  .about-me-header h1 {
    font-size: 35px;
  }

  .about-me-header h2 {
    font-size: 18px;
  }

  .btn {
    padding: 5px;
    font-size: 12px;
    margin: 15px;
  }

  nav li {
    font-size: 14px;
    padding: 0;
    text-align: center;
  }

  i {
    font-size: 10px;
  }
}
